<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConfigUrl" value="https://sheets.googleapis.com/v4/spreadsheets/133jgLYeYdIeRf4ynqoI9uwxBhvQq6p4bUwuad_H26LU/values/api_giamdinhbaohiem!A1:B20?key=AIzaSyDuHpXoR-1YP3zEHWTEVtBUTl6YSSToBGQ"/>
	</appSettings>
</configuration>